latest_build
build
gen
bin
.dep
.DS_Store
.*.swp
*.o
*.lst
*.map
*.class

# Local configuration file
local.properties

# Eclipse project files
.project
.classpath

# Gradle
.gradle

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

